<html>
	<head>
		<style>
			video#bgvid {
				position: fixed; right: 0; bottom: 0;
				min-width: 100%; min-height: 100%;
				width: auto; height: auto; z-index: -100;
				background-size: cover;
			}
		</style>
	</head>
	<body>
		<video autoplay id="bgvid">
			<source src="../playlist/67878b18aebf6663b86c7b0403efc68e.mp4" type="video/mp4">
		</video>
    </body>

		<script>
			var video1 = document.getElementById('bgvid');
			video1.addEventListener('ended', videoEndHandler, false);

			function videoEndHandler(e) {
				window.close();
			}
		</script>
</html>